<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
     <link rel="stylesheet" href="{{ url_for('static', path='/styles/email/verified-email.css') }}">
    {% if verification != 'pending' or verification != 'activated' %}
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/email/failed-account-verification.css') }}">
    {% endif %}
</head>
<body>

{% if verification == 'pending' and email_address %}
{% include 'partials/verified-account.html' %}
{% elif verification == 'activated' and email_address %}
{% include 'partials/already-exist-account.html' %}
{% else %}
{% include 'partials/failed-account-verification.html' %}
{% endif %}

</script>
</body>
</html>